<h1>Kontaktinformation</h1>
<hr>
<div class="row">
	<div class="col-md-6">
		<address>
			<strong>Wilda Valo</strong><br>
			Gustaf Wasasgata 4<br>
			10600 Ekenäs<br>
			<abbr title="Telefon">Tel:</abbr> 040-7413937
		</address>	
	</div>
	<div class="col-md-6">
		<address>
			<strong>Agneta Westerlund</strong><br>
			firstname.lastname@gmail.com
		</address>
	</div>	

</div>

<div class="map row">
<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fi/maps?q=Kustaa+Vaasankatu+4,+10600+Tammisaari,+Etel%C3%A4-Suomen+L%C3%A4%C3%A4ni,+Finland&amp;ie=UTF8&amp;hnear=Kustaa+Vaasan+katu+4,+Raasepori&amp;gl=fi&amp;t=m&amp;hq=&amp;ll=59.975202,23.433924&amp;spn=0.020615,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
</div>