<div class = "row">
	<div class="col-md-4">
		<div class="agneta-oval"></div>
	</div>	
	<div class="col-md-8">
		<h1>Agneta Westerlund</h1>
		<ul>
			<li>Barnmorsketjänster för kvinnor i alla åldrar,  under graviditeten för illamående i början, foglossningssmärta, ryggvärk.</li>
			<li>
			Närmare beräknad förlossningsdag för att förbereda inför förlossning och vid övertid för igångsättning av förlossning. </li>
			
			<li>För kvinnor i övergångsåldern mot svettningar, humörsvängningar, smärtor i bäcken, knän, axlar osv.</li>
			
			<li>Spädbarns koliksmärta</li>
			
			<li>Kronisk smärta</li>
			
			<li>Som hjälpmedel används zonterapi, gua-sha och akupunktur</li>
		</ul>
	</div>
</div>